DEBUG={{ django_debug }}
SECRET_KEY={{ django_secret_key }}
ALLOWED_HOSTS={{ django_allowed_hosts }}

DATABASE_URL={{ django_database_url }}

CORS_ALLOWED_ORIGINS={{ django_cors_allowed_origins }}
CSRF_TRUSTED_ORIGINS={{ django_csrf_trusted_origins }}
