DEBUG={{ backend_debug }}
SECRET_KEY={{ backend_secret_key }}
ALLOWED_HOSTS={{ backend_allowed_hosts }}

DATABASE_URL={{ backend_database_url }}

CORS_ALLOWED_ORIGINS={{ backend_cors_allowed_origins }}
CSRF_TRUSTED_ORIGINS={{ backend_csrf_trusted_origins }}

BACKEND_APP={{ backend_app }}
APP_NAME={{ app_name }}
BACKEND_REPO_DIR = {{ backend_repo_dir }}
